body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCF2F1;
    color: #333;
}
nav {
    display: flex;
    background-color: #3B3486;
    padding: 0.75em 0.5em;
    justify-content: space-around;
}

nav a {
    font-size: 18px; /* Increased font size */
    color: #FAE7F3; /* Adjusted color */
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}
section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #555;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    color: #3498db;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
